.row-bkg {
    background-color: #00bcd4;
    color:black;
}

.btn-flat {
     background-color: #00bcd4;
    color: white;
}
.btn-flat:hover{
    background-color: #2db0f7 !important; 

}
.btn-xxl {
    padding: 1rem 1.5rem;
    font-size: 1.5rem;
}