@import '../colors';

header {
    background: $secondaryColorLG;
    // padding: 20px;
    text-align: center;
  }
  header h1 {
    // background: $primaryColorNB;
    color: $primaryColorNB;
    font-weight: bold;
    border-radius: 10px;;
    margin-bottom: 5px;
    font-size: 50px;
  }
  nav {
    display: flex;
    justify-content: center;
    margin-top:5px;
    border-radius: 10px;
    padding: 25px 0;
    background:$primaryColorNB;
  }
  nav a {
    margin: 0 15px;
    color: $secondaryColorLG;
    text-decoration: none;
    font-size: 20px;
  }
  nav a:hover {
    color:$neutralColorW;
    font-weight: 600;
  }