@import '../colors';

.hero {
    text-align: center;
    padding: 50px 20px;
    background: $primaryColor;
  }
  .hero h2 {
    font-size: 36px;
    margin-bottom: 20px;
    color:$secondaryColor;
    font-weight: bold;
  }
  .hero button {
    padding: 10px 20px;
    margin: 10px;
    font-size: 18px;
    color: $fourthColor;
    background: $secondaryColor;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .hero button:hover {
    background: $tertiaryColor;
  }