
//Palette color at https://colorhunt.co/palette/f5f7f8f4ce14495e5745474b
$primaryColor:#F2F7FF;
$secondaryColor: #0B409C;
$tertiaryColor: #10316B;
$fourthColor: #FFE867;
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: $primaryColor;
  color: $secondaryColor;
}

// .hero {
//   text-align: center;
//   padding: 50px 20px;
//   background: linear-gradient(45deg, #333, #000);
// }
.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.hero button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: #000;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover {
  background: #0288d1;
}
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}
form input, form select, form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 16px;
}
form button {
  background: $secondaryColor;
  color: $fourthColor;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
footer {
  text-align: center;
  padding: 20px;
  background: $tertiaryColor;
  color: $primaryColor;
}
