
@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,300..800;1,300..800&display=swap" rel="stylesheet');
//Palette color at https://colorhunt.co/palette/f5f7f8f4ce14495e5745474b
// $primaryColor:#F2F7FF;
// $secondaryColor: #0B409C;
// $tertiaryColor: #10316B;
// $fourthColor: #FFE867;

/// chatgpt suggestions
$primaryColorR: #da5007;
$primaryColorNB:#003366;
$secondaryColorG: #28A745;
$secondaryColorLG: #eee6e6;
$neutralColorW: #FFFFFF;
$neutralColorC: #333333;
body {
  margin: 0;
  // font-family: 'Times New Roman', Times, serif, sans-serif;
  font-family: "Merriweather Sans";
  background-color: $secondaryColorLG;
  color: $primaryColorNB;
}

// .hero {
//   text-align: center;
//   padding: 50px 20px;
//   background: linear-gradient(45deg, #333, #000);
// }
.hero h2 {
  font-size: 36px;
  margin-bottom: 20px;
}
.hero button {
  padding: 10px 20px;
  margin: 10px;
  font-size: 18px;
  color: #000;
  background: #00bcd4;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hero button:hover {
  background: #0288d1;
}
section {
  padding: 40px 20px;
  max-width: 900px;
  margin: 0 auto;
}
form input, form select, form button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  font-size: 22px;
}
form button {
  background: $primaryColorR;
  color: $neutralColorW;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

form button:hover {
  background: $secondaryColorG;
  color: $neutralColorW;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 20px;
  background: $primaryColorNB;
  color: $neutralColorW;
}
