//Palette color at https://colorhunt.co/palette/f5f7f8f4ce14495e5745474b
// $primaryColor : #F4F6FF;
// $secondaryColor : #F3C623;
// $tertiaryColor: #EB8317;
// $fourthColor: #10375C;

$primaryColor:#F2F7FF;
$secondaryColor: #0B409C;
$tertiaryColor: #10316B;
$fourthColor: #FFE867;

$fifthColor:#081630;
